/*BODY*/
body {        
    font-family: 'Lato', sans-serif;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #cccccc;
}

::backdrop {
    background: #fff;
}

/*BOOTSTRAP */
.fade {
	transition: opacity 0.15s linear !important;
}
.collapsing {
	transition: height 0.35s ease !important;
}
.custom-switch .custom-control-label::after {
	transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-transform 0.15s ease-in-out !important;
	transition: transform 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
	transition: transform 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-transform 0.15s ease-in-out !important;
}
.custom-range::-webkit-slider-thumb {
	transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-range::-moz-range-thumb {
	transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-range::-ms-thumb {
	transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-control-label::before,.custom-file-label,.custom-select {
	transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.badge {
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.progress-bar {
	transition: width 0.6s ease !important;
}
.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 1s linear infinite !important;
	animation: progress-bar-stripes 1s linear infinite !important;
}
.modal.fade .modal-dialog {
	transition: -webkit-transform 0.3s ease-out !important;
	transition: transform 0.3s ease-out !important;
	transition: transform 0.3s ease-out,-webkit-transform 0.3s ease-out !important;
}
.carousel-item {
	transition: -webkit-transform 0.6s ease-in-out !important;
	transition: transform 0.6s ease-in-out !important;
	transition: transform 0.6s ease-in-out,-webkit-transform 0.6s ease-in-out !important;
}
.carousel-fade .carousel-item {
    transition-property: opacity !important;
}

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
    transition: 0s 0.6s opacity !important;
}

.carousel-control-prev,.carousel-control-next {
	transition: opacity 0.15s ease !important;
}
.carousel-indicators li {
	transition: opacity 0.6s ease !important;
}
.form-control {
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.btn {
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}

/*DATATABLE */
table td {
    vertical-align: middle !important;
    border-top: 1px solid lightgrey;
}

tr {
    cursor: pointer;
}

table.dataTable thead tr {
    background: #f2f2f2;
}

table.dataTable th {
    border-top: 1.5px solid #5c23d9;
    border-bottom: 1.5px solid #5c23d9;
}

table.dataTable tfoot th {
    border-top: 1.5px solid lightgrey;
    border-bottom: 0px;
}

#branchTable_filter input,
#branchProductTable_filter input,
#masterTable_filter input, 
#productTable_filter input, 
#barcodeTable_filter input, 
#productSupplierTable_filter input, 
#purchasementSupplierTable_filter input, 
#transactionTable_filter input
{
    border-radius: 12px;
    min-width: 250px;
    padding: 16px;
    border: 1.5px solid #5c23d9;
}

.dataTables_length select {
    padding: 0 15px;
    margin: 0 10px;
    border: 1.5px solid #5c23d9;
    background: #fafafa;
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1.5px solid #5c23d9;
}

.page-link {
    color: black !important;
    font-weight: bold;
}

/*FLATPICKR */
span.flatpickr-weekday {
    color: #fff;
}

/*IMAGE */
.thumbnail {
    width: 100px;
    object-fit: center;
    background-position: center;
    border-radius: 7px;
}

/*NANOBAR */ 
.bar {
    width: 0;
    height: 100%;
    transition: height .1s;
    background: #c7c7c7;
}

.nanobar {
    width: 100%;
    height: 2px;
    z-index: 9999;
    top:0;
}

/*SEARCH */
.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 9999;
}

.searchInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f2f2;
    outline: none;
    border: 1.5px solid #5c23d9;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1.1rem;
}

.searchSubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

.searchSubmit:hover {
    cursor: pointer;
}

/*TYPEAHEAD */
ul.typeahead {
    background: #6610f2;
    padding: 10px;
    margin-left: 15px;
    min-height: auto;
    max-height: 500px;  
    overflow: auto;
    z-index: 9999;
}

ul.typeahead li a{
    font-size: 14px;
    color: #fff;
}

ul.typeahead .active strong {
    color: orange;
    font-size: 15px;
}

