#branch-product-list {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
}

#branch-product-list::-webkit-scrollbar {
    width: 12px;
}

#branch-product-list::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

#branch-product-list::-webkit-scrollbar-track:hover {
    background: #d6d6d6;
    border-radius: 7px;
}

#branch-product-list::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 7px;
}

#branch-product-list::-webkit-scrollbar-thumb:hover {
    background: #9e9090;
    border-radius: 7px;
}